@lavanya-mandapati:registry=https://npm.pkg.github.com/:_authToken=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
# registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
# registry=https://registry.npmjs.org/:_authToken=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
# always-auth=true
