@lavanya-mandapati:registry=https://npm.pkg.github.com/:_authToken=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
# registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
# registry=https://registry.npmjs.org/:_authToken=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
# always-auth=true
